<%- include('partials/header2') %>
<link rel="stylesheet" href="/css/main.css">
<!-- Header -->
<header id="header" class="ex-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="jumbotron text-center">
                    <div id="title-alert" class="alert alert-primary hidden" role="alert">
                        الرجاء ادخال العنوان
                    </div>
                    <div id="items-alert" class="alert alert-primary hidden" role="alert">
                        الرجاء ادخال على الاقل عنصرين لتصويت
                    </div>
                    <div id="poll-list" class="form-group text-right">
                        <input class="form-control" id="title" type="text" placeholder="اكتب العنوان هنا"
                            autocomplete="off">
                        <hr>
                        <input class="item-list form-control" type="text" placeholder="اختار اجابه">
                        <hr>
                        <input class="item-list form-control" type="text" placeholder="اختار اجابه">
                        <hr>
                        <input class="item-list form-control last-input" type="text" placeholder="اختار اجابه">
                        <hr>
                    </div>
                    <button id="submit-poll" type="button" class="btn-solid-lg">إنشاء التصويت</button>
                </div>
            </div>
        </div>
    </div>
</header> <!-- end of ex-header -->
<!-- end of header -->
<script src="js/main.js"></script>
<%- include('partials/footer2') %>