<%- include('partials/header') %>
<!-- Header -->
<div class="ex-header">
    <header id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12  col-sm-12">
                    <div class="jumbotron padding">
                        <div class="row">
                            <div class="col">
                                <div id="title-alert" class="alert alert-danger hidden" role="alert">
                                    الرجاء ادخال العنوان
                                </div>
                                <div id="options-alert" class="alert alert-danger hidden" role="alert">
                                    الرجاء ادخال على الاقل عنصرين لتصويت
                                </div>
                                <div id="options-list" class="form-group text-right">
                                    <input class="form-control" id="title" name="title" type="text"
                                        placeholder="إضافة عنوان" autocomplete="off">
                                    <hr>
                                    <input class="option form-control" type="text" placeholder="إضافة إجابه">
                                    <hr>
                                    <input class="option form-control" type="text" placeholder="إضافة إجابه">
                                    <hr>
                                    <input class="option form-control last-input" type="text" placeholder="إضافة إجابه">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <hr class="result-footer mb-4">
                        <div class="row">
                            <div class="col">
                                <div class="form-check  text-right">
                                    <div class="question">
                                        <label id="" for="name-req" class="form-check-label">الإسم مطلوب عند
                                            التصويت</label>
                                        <input type="checkbox" class="form-check-input custom-radio" name="option"
                                            id="name-req">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input id="submit-poll" type="button" class="btn-solid-lg" value="إنشاء التصويت">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </header> <!-- end of ex-header -->
    <!-- end of header -->
    <%- include('partials/footer') %>
    <script src="/js/create.js"></script>