<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/error.css">
<title>التصويت</title>

</head>

<body>


    <div class="container">
        <div class="jumbotron status">
            <h1><%= error.status %> </h1>
        </div>
        <div class="jumbotron message">
            <h1><%= error.message %> </h1>
        </div>

    </div>

    <script src="/javascripts/vote.js"></script>
    <%- include('partials/footer') %>