<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/error.css">
<title>التصويت</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08"
            aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">تسجيل الدخول</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">التسجيل</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/">الرئيسية</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <div class="jumbotron status">
            <h1><%= error.status %> </h1>
        </div>
        <div class="jumbotron message">
            <h1><%= error.message %> </h1>
        </div>

    </div>

    <script src="/javascripts/vote.js"></script>
    <%- include('partials/footer') %>