<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/main.css">
<title>التصويت</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08"
            aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">تسجيل الدخول</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">التسجيل</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">الرئيسية</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <div class="jumbotron text-center">
            <div id="title-alert" class="alert alert-primary hidden" role="alert">
                الرجاء ادخال العنوان
            </div>
            <div id="items-alert" class="alert alert-primary hidden" role="alert">
                الرجاء ادخال على الاقل عنصرين لتصويت
            </div>
            <div id="poll-list" class="form-group text-right">
                <input class="form-control" id="title" type="text" placeholder="اكتب العنوان هنا" autocomplete="off">
                <hr>
                <input class="item-list form-control" type="text" placeholder="اختار اجابه">
                <hr>
                <input class="item-list form-control" type="text" placeholder="اختار اجابه">
                <hr>
                <input class="item-list form-control last-input" type="text" placeholder="اختار اجابه">
                <hr>
            </div>
            <button id="submit-poll" type="button" class="btn btn-dark btn-lg">انشاء التصويت</button>
        </div>
    </div>

    <script src="javascripts/main.js"></script>
    <%- include('partials/footer') %>