<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/main.css">
<title>التصويت</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08"
            aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">تسجيل الدخول</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">التسجيل</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">الرئيسية </a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <h1><input id="title" type="text" placeholder="العنوان"></h1>
        <div class="jumbotron text-center">

            <form id="poll-form">
                <ul>
                    <li><input class="item-list" type="text"></li>
                    <li><input class="item-list" type="text"></li>
                    <li><input class="item-list" type="text"></li>
                </ul>
                <button type="submit" class="btn btn-dark btn-lg">انشاء التصويت</button>
            </form>

        </div>
    </div>

    <script src="javascripts/main.js"></script>
    <%- include('partials/footer') %>