<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tajawal">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/assets/css/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body class="d-xl-flex justify-content-xl-center align-items-xl-center bg-gradient-primary"
    style="height: 100vh;background: url(&quot;/assets/img/header-background.jpg&quot;) center / cover no-repeat, #fff;"
    data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->



    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text " href="/">اصوات</a> -->

        <!-- Image Logo
        <a class="navbar-brand logo-image" href="/"><img src="images/logo.svg" alt="alternative"></a> -->

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link " href="/create">إنشاء التصويت</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/#contact">تواصل معنا</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/auth/login">تسجيل الدخول</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="/">الرئيسية</a>
                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <div class="container" id="auth-container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex" style="width: 100%;max-width: 100%;">
                        <div class="text-center flex-grow-1 bg-register-image"
                            style="height: 100%;width: 100%;min-width: auto;background: url(&quot;/assets/img/testimonials-2-men-talking.svg&quot;) center / auto no-repeat;">
                        </div>
                    </div>
                    <div class="col-auto col-lg-7 text-center m-auto" style="width: 595;">
                        <div class="p-5">
                            <div class="text-center">
                                <h3 class="text-dark mb-4" data-bs-hover-animate="tada">إنشاء حساب&nbsp;</h3>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-12 col-sm-auto col-md-auto col-lg-auto col-xl-auto text-center mb-3 mb-sm-0"
                                        style="width: 100%;"><input
                                            class="form-control form-control-lg form-control-user" type="text"
                                            id="exampleFirstName" autocomplete="off" required="" minlength="3"
                                            maxlength="15" name="name" placeholder="اسم المستخدم"></div>
                                </div>
                                <div class="form-group"><input class="form-control form-control-user" type="email"
                                        placeholder="الإيميل" name="email" required="" minlength="5"></div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input autocomplete="off" class="form-control  form-control-user"
                                            type="password" placeholder="إعادة كلمة المرور" required="" minlength="6"
                                            maxlength="30"></div>
                                    <div class="col-sm-6">
                                        <input autocomplete="off" class="form-control form-control-user" type="password"
                                            placeholder="كلمة المرور" name="password" minlength="6" required=""
                                            maxlength="30"></div>
                                </div>
                                <button
                                    class="btn btn-primary btn-block btn-lg text-center text-white border-primary btn-user"
                                    id="btn-user-submit" type="submit">إنشاء حساب&nbsp;</button>
                                <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button"
                                    id="google-btn"><i class="fab fa-google"></i>&nbsp; Google&nbsp; التسجيل عن
                                    طريق<br></a><a class="btn btn-primary btn-block text-white btn-facebook btn-user"
                                    role="button" id="facebook-btn"><i class="fab fa-facebook-f"></i>&nbsp;Facebook
                                    التسجيل عن طريق<br></a>
                                <hr>
                            </form>
                            <div class="text-center" style="color: #00bfd8;"></div>
                            <div class="text-center"><a class="small redirect-password" href="/auth/login">هل لديك حساب
                                    من قبل ؟ تفضل من هنا</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>

    <!-- Scripts -->
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/auth.js"></script>
</body>

</html>