<%- include('partials/head') %>
<link rel="stylesheet" href="/css_lib/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body class="body-background">
    <%- include('partials/preloader') %>

    <%- include('partials/navbar') %>
    <div class="container card-container">
        <div class="row justify-content-center text-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex" style="width: 100%;max-width: 100%;">
                                <div class="text-center flex-grow-1 bg-register-image"
                                    style="height: 100%;width: 100%;min-width: auto;background: url(&quot;/images/testimonials-2-men-talking.svg&quot;) center / auto no-repeat;">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h3 class="text-dark mb-4" data-bs-hover-animate="tada">إنشاء حساب&nbsp;</h3>
                                    </div>
                                    <form class="user" id="register-form">
                                        <div class="form-group row">
                                            <div class="col-12 col-sm-auto col-md-auto col-lg-auto col-xl-auto text-center mb-3 mb-sm-0"
                                                style="width: 100%;"><input
                                                    class="form-control form-control-lg form-control-user" type="text"
                                                    id="username" autocomplete="off" required="" minlength="3"
                                                    maxlength="15" name="username" placeholder="اسم المستخدم"></div>
                                        </div>
                                        <div class="form-group">
                                            <input id="email" class="form-control form-control-user" type="email"
                                                placeholder="الإيميل" name="email" required="" minlength="5">
                                        </div>
                                        <div class="form-group">
                                            <input autocomplete="off" class="form-control form-control-user"
                                                type="password" id="password" placeholder="كلمة المرور" name="password"
                                                minlength="6" required="" maxlength="30">
                                        </div>
                                        <div class="form-group">
                                            <input autocomplete="off" class="form-control  form-control-user"
                                                type="password" id="password2" placeholder="إعادة كلمة المرور"
                                                required="" minlength="6" maxlength="30">
                                        </div>

                                        <button
                                            class="btn btn-primary btn-block btn-lg text-center text-white border-primary btn-user"
                                            id="btn-user-submit" type="submit">إنشاء حساب</button>
                                        <hr><a class="btn btn-primary btn-block text-white btn-google btn-user"
                                            role="button" id="google-btn"><i class="fab fa-google"></i>&nbsp;Google
                                            الدخول<br></a><a
                                            class="btn btn-primary btn-block text-white btn-facebook btn-user"
                                            role="button" id="facebook-btn"><i
                                                class="fab fa-facebook-f"></i>&nbsp;Facebook&nbsp;
                                            الدخول <br></a>
                                        <hr>
                                    </form>
                                    <div class="text-center" style="color: #00bfd8;"></div>
                                    <div class="text-center"><a class="small redirect-password" href="/auth/login">عندك
                                            حساب ؟
                                            تفضل من هنا</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>

        <!-- Scripts -->
        <script src="/js_lib/bs-init.js"></script>
        <script src="/js/auth.js"></script>
</body>

</html>