<%- include('partials/head') %>
<link rel="stylesheet" href="/css_lib/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body class="body-background">
    <%- include('partials/preloader') %>

    <%- include('partials/navbar') %>
    <div class="container card-container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="text-center flex-grow-1 bg-register-image"
                                    style="height: 100%;width: 100%;min-width: auto;background: url(&quot;/images/details-1-office-worker.svg&quot;) center / auto no-repeat;">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h3 class="text-dark mb-4" data-bs-hover-animate="tada">إستعادة حساب<br>
                                        </h3>
                                    </div>
                                    <p class="text-center">الرجاء ادخال كلمة المرور الجديدة</p>
                                    <form id="reset-form" class="user">
                                        <div class="form-group">
                                            <input class="form-control form-control-user" type="password"
                                                id="reset-password1" aria-describedby="passwordHelp"
                                                placeholder="كلمة المرور">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control form-control-user" type="password"
                                                id="reset-password2" aria-describedby="passwordHelp"
                                                placeholder="إعادة كتابة المرور">
                                        </div>
                                        <button class="btn btn-primary btn-block text-white btn-user" id="login-btn"
                                            type="submit">
                                            <span id="btn-msg">تغير كلمة المرور</span>
                                            <span id="btn-spinner" class="spinner-border spinner-border-sm"
                                                role="status" aria-hidden="true"></span>
                                        </button>
                                        <hr>
                                    </form>
                                    <div class="text-center">
                                        <a href="/auth/register" class="small redirect-password">ما عندك حساب ؟ تفضل من
                                            هنا</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>

        <!-- Scripts -->
        <script src="/js_lib/bs-init.js"></script>
        <script src="/js/auth.js"></script>
</body>

</html>