<%- include('partials/head2') %>

</head>

<body class="body-background">

    <%- include('partials/preloader') %>

    <%- include('partials/navbar') %>
    <div class="container dashboard-view">
        <div class="card shadow-lg o-hidden border-0 my-5 text-center">
            <div class="card-body">
                <div class="row justify-content-end">
                    <div class="col-lg-6 col">
                        <form id="update-form" class="user">
                            <div class="form-group mt-4 text-right">
                                <label for="username">
                                    <p class="settings-label mr-3">كلمة المرور السابقة</p>
                                </label>
                                <input minlength="6" class="form-control form-control-user" type="password"
                                    id="password0" placeholder="كلمة المرور السابقة" name="password0">
                            </div>
                            <div class="form-group text-right">
                                <label for="username">
                                    <p class="settings-label mr-3">كلمة المرور الجديدة</p>
                                </label>
                                <input minlength="6" class="form-control form-control-user" type="password"
                                    id="password1" placeholder="كلمة المرور الجديدة" name="password1">
                            </div>
                            <div class="form-group text-right">
                                <label for="username">
                                    <p class="settings-label mr-3">إعادة كلمة المرور الجديدة</p>
                                </label>
                                <input minlength="6" class="form-control form-control-user" type="password"
                                    id="password2" placeholder="إعادة كلمة المرور الجديدة" name="password2">
                            </div>
                    </div>
                </div>
                <hr>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-block btn-primary text-white btn-user mt-3 p-3" id="submit-btn"
                            type="submit">تغيير
                            كلمة المرور</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <%- include('partials/footer') %>
        <script src="../js/dashboard.js"></script>
        <script>
            $('#update-form').on('submit', async function (e) {
                e.preventDefault();
                const password0 = $('#password0').val();
                const password1 = $('#password1').val();
                const password2 = $('#password2').val();
                if (!password0 || !password1 || !password2) {
                    errorAlert('الرجاء اكمال جميع الحقول');
                    return;
                }
                if (password1 !== password2) {
                    errorAlert('كلمة المرور غير متطابقة');
                    return;
                }

                const response = await fetch('/auth/updatepassword', {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json',
                    },
                    body: JSON.stringify({ oldPassword: password0, newPassword: password1 })
                });
                try {
                    const data = await response.json();
                    // Show alert if v or show error otherwise
                    if (response.status == 200) {
                        successAlertTimer(data.message, `${location.origin}/settings`)
                    } else {
                        errorAlert(data.message);
                    }
                }
                catch (error) {
                    console.log(error);
                    errorAlert('مشكلة في السيرفر', 500);
                }
            })
        </script>
</body>

</html>