#btn-user-submit {
  border-color: #00bfd8 !important;
  opacity: 0.90;
  font-size: 1rem;
  background-color: #00bfd8;
  font-weight: 700;
}

form.user .form-control-user {
  direction: rtl;
}

.text-center.flex-grow-1.bg-register-image {
  margin-left: 10px;
}

#btn-user-submit:hover {
  opacity: 1;
  filter: brightness(100%);
}

.btn.btn-primary.btn-block.text-white.btn-google.btn-user {
  font-weight: 700;
}

.btn.btn-primary.btn-block.text-white.btn-facebook.btn-user {
  font-weight: 700;
}

#dont-have-account {
  font-weight: 700;
}

#remeber-me {
  margin-right: 12px;
}

#login-btn {
  background-color: #00bfd8;
  border-color: #00bfd8 !important;
  font-weight: 700;
  font-size: 0.8rem;
  opacity: 0.90;
}

.redirect-password {
  font-weight: 650;
  color: #00bfd8 !important;
  text-decoration: none;
}

#login-btn:hover {
  opacity: 1;
}

#google-btn {
  text-decoration: none;
}

#facebook-btn {
  text-decoration: none;
}

