
/*
 * Globals
 */



/* Links */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');




/* Custom default button */



/*
 * Base structure
 */
body{
  font-family: 'Tajawal' !important;
  background-color: #f7fcfd;
}

#header .container{
  margin-right: 20%;
}

.jumbotron{
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 50rem;
  margin: 0 auto;
  background-color: #f7fcfd;
  border: 3px;
  border-color: #00bfd8;
  border-style: solid;
  
} 


#title{
    direction:RTL;
    font-family: 'Tajawal';
    font-size: 1.5rem;
    margin: 10px 0;
    border: 0;
    background-color: #f7fcfd;
}

#submit-poll{
  font-family: 'Tajawal', sans-serif !important;
  margin-top: 20px ;
}

.item-list{
    direction:RTL;
    margin: 0 auto;
    padding: 20px;
    border: 0;
    background-color: #f7fcfd;
}

.form-control:focus {
  background-color: #f7fcfd;
  border-color: #f7fcfd; 
  box-shadow: 0 0 0 0 #f7fcfd;
  
}


.hidden{
  display: none;
}

hr{
  background-color: #00bfd8;
  margin: 0;
}











/*
 * NavBar
 */





/*
 * Media
 */

@media (max-width: 480px) {
 .jumbotron{
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 20rem;
} 

#submit-poll{
  font-family: 'Tajawal', sans-serif !important;
  margin-top: 20px ;
  width: 8rem;
  font-size: 0.8rem;
}
}




/*
 * Footer
 */
