
/*
 * Globals
 */



/* Links */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');




/* Custom default button */



/*
 * Base structure
 */
body{
  font-family: 'Tajawal' !important;
  background-color: white;
}




.jumbotron{
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: white;
  border: 3px;
  height: 100%;
  width: 100%;
  margin-left: 10%;
  border-color: #00bfd8;
  border-style: solid;
  margin: auto;
} 


#title{
    direction:RTL;
    font-size: 1.8rem;
    margin: 10px 0;
    border: 0;
    background-color: white;
}

#vote-title{
  text-align: center;
  font-family: 'Tajawal';
  margin: 5% 0;
  font-size: 2rem;
}


.item-list{
    direction:RTL;
    padding: 20px;
    border: 0;
    margin: 0;
    font-size: 1.3rem;
    background-color: white;
}

.form-control:focus {
  background-color: white;
  border-color: white; 
  box-shadow: 0 0 0 0 white;
  
}

#buttons-list{
  margin-top: 50px;
  margin-bottom: 50px;
}

#result-button{
  font-family: 'Tajawal';
  float: right;
}

#vote-button{
  font-family: 'Tajawal';
  float: left;
}

.hidden{
  display: none;
}


#copy-button{
  font-family: 'Tajawal';
  float: left;
}

#goVote-button{
  font-family: 'Tajawal';
  float: right;
}
.progress-bar{
  background-color: #00bfd8 ;
}
.progress{
  height: 26px;
}
.progress-text{
  font-size: 17px;
  font-weight: 500;
}

.form-check label{
  font-family: 'Tajawal';
  margin-right: 30px;
}
.form-check input{
  font-family: 'Tajawal';
  margin-top: 12px;
}
.hidden{
  display: none;
}
#toast{
  position:fixed;
  top:0;
  left:50%;
  transform:translate(-50%);
  background-color:#00bfd8;
  color:#fff;
  padding:16px;
  margin-top: 40px;
  border-radius:4px;
  text-align:center;
  z-index:1;
  box-shadow:0 0 20px rgba(0,0,0,0.3);
  visibility:hidden;
  opacity:0;
}

#toast.show{
  visibility:visible;
  animation:fadeInOut 3s;
}
#poll-item-numberVote{
  float: left;
}
#poll-item h4{
  display: inline;
  font-family: 'Tajawal', sans-serif;
}
#res-title{
  text-align: center;
  font-family: 'Tajawal', sans-serif;
  margin: 5% 0;
  font-size: 2rem;
}

#vote-count{
  text-align: center;
  font-family: 'Tajawal', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}
hr{
  margin-bottom:0.5rem;
  margin-top: 0.5rem;
  border-top:2px solid rgba(0, 0, 0, 0.1)
}


.form-check hr {
  margin-bottom:1rem;
  margin-top: 1rem;
}

.progress-hr{
  margin-top: 0.5rem !important;
  margin-bottom: 0 !important;
  border:0;
}

@keyframes fadeInOut{
  5%,95%{opacity:1;top:50px}
  15%,85%{opacity:1;top:30px}
}

.form-check h3{
font-weight: 500;
}

.form-check h4{
  font-weight: 500;
}









/*
 * NavBar
 */





/*
 * Media
 */





/*
 * Footer
 */
