
/*
 * Globals
 */



/* Links */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');




/* Custom default button */



/*
 * Base structure
 */


body {
  height: 100%;
  background-color: #333;
  font-family: 'Tajawal', sans-serif ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}


.jumbotron{
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 50rem;
  margin: auto;
} 

.navbar-nav{
  font-family: 'Tajawal', sans-serif !important;
}


#title{
    direction:RTL;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.5rem;
    margin: 10px 0;
    border: 0 ;
    background-color: #eee;
}

#submit-poll{
  font-family: 'Tajawal', sans-serif !important;
  margin-top: 20px ;
}

.item-list{
    direction:RTL;
    margin: 0 auto;
    border: 0 ;
    background-color: #eee;
    padding: 20px;
}

.form-control:focus {
  background-color: #eee;
  border-color: #eee; 
  box-shadow: 0 0 0 0 #eee;
  
}


.hidden{
  display: none;
}

hr{
  margin: 0;
}











/*
 * NavBar
 */

.navbar-dark{
    background-color:#00000091 !important;
}



/*
 * Media
 */

@media (max-width: 480px) {
 .jumbotron{
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 20rem;
} 

#submit-poll{
  font-family: 'Tajawal', sans-serif !important;
  margin-top: 20px ;
  width: 8rem;
  font-size: 0.8rem;
}
}




/*
 * Footer
 */
