
/*
 * Globals
 */



/* Links */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');




/* Custom default button */



/*
 * Base structure
 */


body {
  height: 100%;
  background-color: #333;
  font-family: 'Tajawal', sans-serif ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}


.jumbotron{
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 50rem;
  margin: auto;
} 

.jumbotron{
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 50rem;
  margin: auto;
} 


.navbar-nav{
  font-family: 'Tajawal', sans-serif !important;
}


#title{
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    margin: 5% 0;
    font-size: 2rem;
}

#poll-item-numberVote{
  float: left;
}
#poll-item h4{
  display: inline;
  font-family: 'Tajawal', sans-serif;
}
#copy{
  font-family: 'Tajawal', sans-serif !important;
  margin-top: 10px;
}
#toast{
  position:fixed;
  top:0;
  left:50%;
  transform:translate(-50%);
  background-color:#333;
  color:#fff;
  padding:16px;
  border-radius:4px;
  text-align:center;
  z-index:1;
  box-shadow:0 0 20px rgba(0,0,0,0.3);
  visibility:hidden;
  opacity:0;
}

#toast.show{
  visibility:visible;
  animation:fadeInOut 3s;
}

@keyframes fadeInOut{
  5%,95%{opacity:1;top:50px}
  15%,85%{opacity:1;top:30px}
}

























/*
 * NavBar
 */

.navbar-dark{
    background-color:#00000091 !important;
}



/*
 * Media
 */

@media (max-width: 480px) {
 .jumbotron{
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 20rem;
  margin: auto;
} 
.container{
    margin: 50% auto;
}

#copy-button{
  font-family: 'Tajawal', sans-serif !important;
  margin-top: 10px;
  float: right;
  width: 6rem;
  font-size: 0.8rem;
}
#title{
  font-size: 1.7rem;
}
h4{
  font-size: 1.3rem;
}
}




/*
 * Footer
 */
