
/*
 * Globals
 */



/* Links */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');




/* Custom default button */



/*
 * Base structure
 */


body {
  height: 100%;
  background-color: #333;
  font-family: 'Tajawal', sans-serif ;
}

.container{
    margin: 10% auto;
    padding: 0 15%;
}
.jumbotron{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar-nav{
  font-family: 'Tajawal', sans-serif !important;
}


#title{
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    margin: 5% 0;
    font-size: 2rem;
}

#poll-item-numberVote{
  float: left;
}
#poll-item h4{
  display: inline;
   font-family: 'Tajawal', sans-serif;
}
#copy{
  font-family: 'Tajawal', sans-serif !important;
  margin-top: 10px;
}
























/*
 * NavBar
 */

.navbar-dark{
    background-color:#00000091 !important;
}



/*
 * Cover
 */




/*
 * Footer
 */
